/* Miligram overrides */
html{
    font-size: 62.5%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #171717;
    font-size: 1.6rem;
}

img{
    width: 100%;
    vertical-align: bottom;
}

a {
    color: black;
    text-decoration: none;
}

/* header */
.header{
    display:flex;
    justify-content: space-between;
    height: 90px;
    width: 960px;
    align-items: center;
    margin: 0 auto;
}
.site-title{
    font-size: 3.6rem;
    text-align: center;
    display: inline-block;
}
.header-nav{
    font-weight: bold;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0; /*右上に固定*/
    height: 100vh;
    width: 15.1vw;
    text-align: center;
    padding: 120px 0 0;
    background-color: rgba(34, 34, 34, 95);
    z-index: 2;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .4s,opacity .4s;
}
.nav-item{
    margin-bottom: 30px;
}
.nac-item:last-of-type{
    margin-bottom: 0;
}
.nav-item a{
    color: #fff;
}

/* ハンバーガーボタン（メニューが開いていないとき） */
.burger-btn{
    display: flex;
    align-items: center;
    z-index: 3;
    height: 30px;
    border: none;
    background: #fff;
    cursor: pointer;
}
.bar{
    display: block;
    background-color: black;
    height: 2px;
    width: 22px;
    border-radius: 1px;
}
.bar_top{
    transform: translateY(-4px);
    transition: transform .4s;
}
.bar_bottom{
    transform: translateY(4px);
    transition: transform .4s;
}
.menu{
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}
/* ハンバーガーボタン（メニューが開いたとき） */
.bar.cross.bar_top{
    transform: translateY(2px)rotate(30deg);
    transition: transform .4s;
}
.bar.cross.bar_mid{
    opacity: 0;
    transition: transform .4s;
}
.bar.cross.bar_bottom{
    transform: translateY(-2px)rotate(-30deg);
    transition: transform .4s;
}

/* ハンバーガーメニューが開いたとき */
body.noscroll{
    overflow: hidden;
}
.header-nav.open{
    transform: translateX(0);
    opacity: 1;
    transition: transform .4s,opacity .4s;
}
.burger-musk{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .5); */
    background-color: #fff .5;
    z-index: 1;
}

.burger-btn.black .bar{
    background-color: #333;
    transition: background-color .4s;
}
.burger-btn.black .menu{
    color: #333;
    transition: color .4s;
}
.burger-btn.black {
    background-color: rgba(0, 0, 0, .5);
}
/* main */
.wrapper-outer{
    width: 960px;
    margin: 0 auto;

}
.wrapper_inner {
    width: 960px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 20px 0;
}
.search-container h3{
    font-size: 30px;
    border: solid black 0.1rem;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}
.post{
    padding: 0;
}
.card_search{
    width: 900px;
    margin: 0 auto;
    border: solid black 0.1rem;
}
.search-inner{
    font-size: 20px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
    border: solid #ddd 0.1rem;
    border-bottom: none;
    align-items: center;
}

.results{
    width: 960px;
    margin: 0 auto;
    background-color: #ddd;
}
.search-outer{
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: solid #ddd 0.1rem;
    border-right: solid #ddd 0.1rem;
    padding-bottom: 30px;
    padding-left: 20px;
}
.ver-select{
    font-size: 13px;
    width: 150px;
    height: 28px;
    line-height: 22px;
    white-space: nowrap;
}
.rea-select{
    font-size: 13px;
    width: 100px;
    height: 28px;
    line-height: 22px;
    white-space: nowrap;
}
.cardname-text{
    font-size: 13px;
    width: 250px;
    height: 28px;
}
.cost-select{
    font-size: 13px;
    width: 40px;
    height: 28px;
}
.end_cost-select{
    font-size: 13px;
    width: 40px;
    height: 28px;
}
.color-search p{
    font-size: 20px;
    padding: 0 10px;
}
.checkbox {
    font-size: 20px;
    padding: 10px 10px;
    display: inline-block;
}
.submit{
    padding-top: 20px;
    padding-right: 30px;
    margin: 0 0 0 auto;
}
.search-button{
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    font-size: 16pt;
    cursor: pointer;
    padding: 10px 10px;
    background: #ffff4d;
    color: #000000;
    line-height: 1em;
    /* transition: .3s; */
    box-shadow: 1px 1px #666666;
    border-radius: 5px;
}
.button:hover {
    box-shadow: none;
}
.float-right{
    padding: 10px;
    border: solid black 0.1rem;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: red;
}
/* /////////// */
/* pagination  */
/* /////////// */
.pagination{
    font-size: 80%;
    margin-bottom:10px;
    width: 960px;
    background-color: #ddd;
    margin:0 auto;
    justify-content: start;
}
.pagination-wrapper{
    display: flex;
    padding: 0 10px 10px 10px;
    width: 600px;
}
.pagination-wrapper li{
    padding: 5px 10px;
    border: solid #AAE 0.1rem;
    background-color: #fff;
    display:block;
    margin-right: 5px;
    border-radius: 5px;
}
/* /////// */
/* results */
/* /////// */
.table-responsive{
    width: 900px;
    border: solid #333 1px;
    padding: 10px 20px;
    margin: 0 auto;
}
table {
    font-size: inherit;
    font: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.table_cardlist{
    width: 900px;
    border: solid #333 1px;
    margin: 0 auto;
}
.thead {
    border-color: black;
    display: table-row-group;
    vertical-align: middle;
    font-size: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: black;
}
.table_cardlist tr th{
    font-size: 90%;
    font-weight: bold;
    border-bottom: solid #333 1px;
    border-right: solid #333 1px;
    background-color: #ccc;
    padding: 3px 0;
}
.table_cardlist tr .tit_id{
    width: 5%;
    text-align: center;
    vertical-align: middle;
}
.table_cardlist tr .tit_rea{
    width: 7%;
    padding-left: 5px;
    vertical-align: middle;
}
.table_cardlist tr .tit_var{
    width: 20%;
    padding-left: 5px;
    vertical-align: middle;
}
.table_cardlist tr .tit_short_ver{
    width: 6.5%;
    padding-left: 5px;
    vertical-align: middle;
}
.table_cardlist tr .tit_no{
    padding-left: 5px;
    width: 10%;
    vertical-align: middle;
}
.table_cardlist tr .tit_name{
    width: 22%;
    padding-left: 5px;
    vertical-align: middle;
}
.table_cardlist tr .tit_color{
    width: 5%;
    padding-left: 5px;
    vertical-align: middle;
}
.table_cardlist tr .tit_cost{
    width: 8%;
    padding-left: 5px;
    vertical-align: middle;
}
.table_cardlist tr .actions{
    width: 15%;
    padding-left: 5px;
    vertical-align: middle;
}



#search_results{
    width: 900px;
    margin: 0 auto;
    border: 0;
    background-color: #eeeeee;
    /* display: flex; */
    border-bottom: solid #333 1px;
    border-right: solid #333 1px;
}
#search_results .cardlist_id{
    width: 5%;
    text-align: center;
    vertical-align: middle;
    border: solid #333 1px;
    border-top: none;
}
#search_results .cardlist_rea{
    width: 7%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
#search_results .cardlist_ver{
    width: 20%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
    vertical-align: middle;
}
#search_results .cardlist_short_ver{
    width: 6.5%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
#search_results .cardlist_no{
    width: 10%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
#search_results .cardlist_name{
    width: 22%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
#search_results .cardlist_color{
    width: 5%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
#search_results .cardlist_cost{
    width: 8%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
#search_results .actions{
    width: 15%;
    padding-left: 5px;
    border: solid #333 1px;
    border-top: none;
}
/* //////////// */
/* pagination2  */
/* //////////// */
.pagination2{
    font-size: 80%;
    padding-top: 10px;
    margin-bottom:10px;
    width: 960px;
    background-color: #ddd;
    margin:0 auto;
    justify-content: start;
}
.pagination2-wrapper{
    display: flex;
    padding: 0 10px 10px 10px;
    width: 600px;
}
.pagination2-wrapper li{
    padding: 5px 10px;
    border: solid #AAE 0.1rem;
    background-color: #fff;
    display:block;
    margin-right: 5px;
    border-radius: 5px;
}
/* //////////// */
/* fotter       */
/* //////////// */
.footer{
    line-height: 50px;
    /* background-color: #525252; */
    background-color: #fff;
    text-align: right;
    color: black;
    font-size: 1rem;
    margin: 0 auto;
    width: 960px;
}
/* //////////// */
/* edit         */
/* //////////// */
.row{
    width: 720px;
    font-size: 13px;
    /* border: solid #333 1px; */
    padding: 10px 20px;
    margin: 0 auto;
}

/* //////////// */
/* view         */
/* //////////// */
.img_row{
    width: 500px;
    border: none;
    margin: 0 auto;
}
.view_table{
    border-collapse: collapse;
}
.side-nav{
    margin-bottom: 10px;
}

.side-nav-item{
    font-size: 30px;
    border: solid 0.1rem black;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
}
.column-responsive{
    border: solid 0.1rem black;
}
.column-responsive .view{
    background-color: #fff;
}
.view{
    background-color: #fff;
}
.view table, th{
     border: solid black 0.1rem;
}

.view_table th{
    background-color: #ffc;
    color: black;
    text-align: left;
    padding: 5px;
}
.view_table td{
    padding: 5px;
    border: solid black 0.1rem;
}
.card_detail{
    background-color:#666;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-collapse: collapse;
    width: 720px;
}
.img_detail{
    background-color:#666;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-collapse: collapse;
    width: 500px;
}
.view_th_img{
    width: 100px;
}
.view_td_img{
    width: 400px;
}
/* /////*/
/* edit */
/* //// */

.edit-wrapper label{
    display:block;
    /* background-color: #AAE; */
    font-size: 16px;
    margin-right: 5px;
    margin-top: 5px;
    /* margin-left: 5px; */
    width: 100px;
    padding-left: 2px;
    font-weight: bold;
}
.edit-column-responsive {
    width: 720px;
}
.eidt_short_ver{
    margin-top: 10px;
    border-radius: 5px;
}
.edit-wrapper select{
    border-radius: 5px;
    width: 700px;
    height: 30px;
    font-weight: bold;
}
.edit-wrapper input{
    width: 690px;
    height: 20px;
    font-weight: bold;
}
#cardname{
    width: 690px;
    height: 25px;
    /* padding-left: 10px; */
}
.edit_cost{
    margin-bottom: 15px;
}
.btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 720px;
}
.edit_button{
    background-color: #fff;
    border: solid 0.1rem black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.delete-btn{
    padding: 1px 6px ;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border: solid 0.1rem black;
    border-radius: 5px;
}

/* /////*/
/* add  */
/* //// */

.add-column-responsive {
    width: 720px;
}
.add-wrapper select{
    border-radius: 5px;
    width: 700px;
    height: 30px;
    font-weight: bold;
}
.add-wrapper input{
    width: 690px;
    height: 20px;
    font-weight: bold;
}
.add_button{
    background-color: #fff;
    border: solid 0.1rem black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.add_short_ver{
    margin-top: 10px;
}
/* .view table td{
    padding-left: 5px;
}
.view table tr{
    border-bottom: solid 0.1rem black;
}
.view_th_id{
    border-bottom: solid 0.1rem black;
    width: 10%;
}
.view_td_id{
    border-bottom: solid 0.1rem black;
    width: 10%;
}
.view_th_rea{
    border-bottom: solid 0.1rem black;
    width: 20%;
} */
/* .table-responsive thead a{
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 50px;
    background-color: #CCC;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 100px;
} */
/* .search_results{
    width: 800px;
    border: solid #333 1px;
    margin: 0 auto;
} */
    /* .btn{
    width: 100px;
    height: 50px;
    background-color: #fff;
} */
/* .search-container{
    background-color: bisque;
    padding: 10px 10px;
    margin-top: 20px;
    width: 180px;
    border: black solid 0.1rem;
}
.search-container h3 {
    font-size: 30px;
    flex-wrap: wrap;
}
.search {
    width:960px;
    margin: 0 auto;
    background-color: darkslateblue;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}
.results{
    width:960px;
    margin: 0 auto;
    background-color: aquamarine;
    position: static;
    flex-wrap: wrap;
}
.search-item{
    padding: 10px;
    font-size: 20px;
    width: 300px;
    background-color: blue;
    flex-wrap: wrap;
}
.cardname-search{
    width: 400px;
}

.search-item p{
    padding-bottom: 5px;

}
.version-search{
    width: 200px;
}
.search-item{
    width: 200px;
}
.color-search{
    display: inline-block;
}
.checkbox {
    display: inline-block;
    padding: 10px;
} */


/* .header{
    position: absolute;
    color: #fff;
    height: 90px;
    border: solid 0.1rem;
    border-color: black;
    background-color: darkgreen;
    padding-left: 20px;
    float: left;
}
.site-title{
    font-size: 36px;
    float: left;
    margin: auto 0;
}
.nav-item{
    float: left;
    padding: 33px 20px;
    background-color: darkkhaki;
}
.li{
    float: left;
} */

/* main */
/* .main {
    border: solid black;
    background-color: darkgray;
}
.copy-container h3 {
    padding: 20px 20px;
    border: solid 0.1rem;
    width: 200px;
    margin-top: 10px;
    background-color: blanchedalmond;
}
.version-select{
    padding-right: 20px;
    width: 150px;
    float: left;
    font-size: 15px;
    background-color: blue;
}
.rarity-search{
    width: 100px;
    padding-right: 20px;
    font-size: 15px;
    background-color: blueviolet;
}
.cardname-search{
    width: 400px;
    font-size: 15px;
    padding-right: 20px;
    background-color: brown;
}
.cost-search{
    width: 90px;
    font-size: 15px;

    display: inline-block;
    background-color: burlywood;
}
.color-search{
    display: inline-block;
    font-size: 15px;
    background-color: cadetblue;
}
.color-search p{
    font-size: 15px;
    background-color: chartreuse;
}
.search-item {
    float: left;
    font-size: 15px;
    background-color: chocolate;
}
.checkbox {
    display: inline-block;
    padding-right: 20px;
} */

    /* .main {
    padding: 20px 20px ;
} */
/* .copy-container h3 {
    border: solid;
    width: 200px;
    height: 60px;
    text-align: center;
    border: solid;
    vertical-align: middle;
    display: table-cell;
} */
/* .copy-container h3 {
    margin-top: 10px;
    width: 200px;
    height: 60px;
    border: solid;
    font-size: 24px;
    text-align: center;
} */

/* .header {
    padding: 2% 0;
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    transition: .3s;
    border: solid;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.header a{
    color: black;
    text-decoration: none;
    transition: .3s;
    font-weight: bold;
    font-style: italic;
}
.header a:hover{
    opacity: .7;
    transition: .3s;
}
.site-title {
    font-size: 2.6rem;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin-right: 30px;
}
.nav-item:last-of-type{
    margin-right: 0;
}
.header.fixed{
    position: fixed;
    background-color: #282F35;
    padding: 30px;
    width: 100%;
    transition: .3s;
} */
/* main */
/* .fv{
    height: 100vh;
    min-height: 550px;
    position: relative;
}
.main-copy{
    position: absolute;
    left: 120px;
    bottom: 177px;
    color: black;
}

.top-nav-links,
.side-nav,
 h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #363637;
}

 a {
    color:black;
    -webkit-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
#title {
    font-size: 40px;
}

.area {
    width: 500px;
    margin-left: 0;
    flex-wrap: wrap;
    display: flex;
}
.tab_class {
    width: auto;
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

input[name="tab_name"] {
    display: none;
}

input:checked + .tab_class {
    background-color: cadetblue;
    color: aliceblue;
}

.content_class {
    display: none;
    width: 100%;
}

input:checked + .tab_class + .content_class {
    display: block;
}

a:hover,
a:focus,
a:active  {
    color:#2a6496;
    -webkit-transition:all 0.2s easeout;
    transition:all 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
    color: #606c76;
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
    color:#2f85ae;
}


 .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


 body {
    background: #f5f7fa;
}
.content {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;

    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.actions a {
    font-weight: bold;
    padding: 0 0.4rem;
}
th {
    white-space: nowrap;
}


.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    padding: 2rem;
    margin: 0 auto 2rem;
}
.top-nav-title a {
    font-size: 2.4rem;
    color: #d33c43;
}
.top-nav-title span {
    color: #404041;
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}


.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}


.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}


.input.radio,
.input.checkbox {
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input {
    margin: 0;
}
.input.radio label,
.input.checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
}
.input.radio label > input,
.input.checkbox label > input {
    margin-right: 1.0rem;
}
.input.radio label:first-of-type {
    margin-bottom: 2.0rem;
}


.paginator {
    text-align: right;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
.pagination li {
    margin: 0 0.5rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}


.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .top-nav {
        margin: 0 auto;
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
} */
